<a href="https://colab.research.google.com/github/robertocarlos1007/Aula-Programa-o-/blob/main/aula_6_Colecoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
nomes = ['ze', 'tião', 'joaquim']
nomes.append('julia')
# #vários valores
outrosNomes = ['Ana', 'Zabé', 'Maria']
nomes.extend(outrosNomes)
nomes

['ze', 'tião', 'joaquim', 'julia', 'Ana', 'Zabé', 'Maria']

In [35]:
# crie uma lista com numeros
numeros = [1,2,3,4]
# remova o primeiro numero
numeros.remove(numeros[0])
# remova o último número
numeros.pop()
numeros

[2, 3]

In [36]:
#1 - Crie uma lista de notas, e exiba-a da menor para a maior
# lista . sort() - ordena em ordem crescente
numeros = [9,2,6,4]
nomes = ["Andre", "Messi", "Juca"]
numeros.sort()
nomes.sort()
numeros
nomes

['Andre', 'Juca', 'Messi']

In [37]:
#2 - Crie uma lista de nomes de frutas e ordene-a em ordem decrescente
# lista . sort(reverse=True) - ordena em ordem decrescente

numeros = [9,2,6,4]
nomes = ["Andre", "Messi", "Juca"]
numeros.sort(reverse=True)
nomes.sort(reverse=True)
numeros

[9, 6, 4, 2]

In [38]:
#Exemplo função map - cria uma nova lista com o dobro 
# função map() serve para aplicar uma função a cada elemento de uma lista, dispensando o uso de um loop (for ou while)
#map(funcao, sequencia)

# Função filter() serve para filtrar elementos de uma sequência


numeros = [2, 3, 5, 6, 9]
lista_nova = list(map(lambda x : x*2, numeros))
lista_nova

[4, 6, 10, 12, 18]

In [39]:
# pegar cada um dos números e dividir por 3

numeros = [10,50,60,71,52]
listanova = list(map(lambda x: x/3, numeros))
listanova

[3.3333333333333335,
 16.666666666666668,
 20.0,
 23.666666666666668,
 17.333333333333332]

In [40]:
 # pegar cada um dos números e soma por dois
numeros = [1,2,3,4,5]
soma = list(map(lambda x : x+2, numeros))
soma

[3, 4, 5, 6, 7]

In [41]:
#Exemplo função filter - a partir de uma lista de nomes, criar uma nova lista apenas com palavras com mais de 5 caracteres


nomes = ['josé', 'joaquim', 'Sebastião', 'Angélica', 'Leonardo', 'Luana', 'Bárbara']
listanova = list(filter(lambda x : len(x)>5, nomes))
listanova

['joaquim', 'Sebastião', 'Angélica', 'Leonardo', 'Bárbara']

In [42]:
# crie uma lista de notas, imprime as maiores que 6

notas = [7,5,8,9,7,10,5,6,4,8,7]
notas2 = list(filter(lambda x : x > 6, notas))
notas2

[7, 8, 9, 7, 10, 8, 7]

In [44]:
#1 Dada uma lista de números, retorne uma lista contendo o quadrado de cada número.

numeros = [2,4,6,8,10]
novalista = list(map(lambda x : x**2, numeros))
novalista

[4, 16, 36, 64, 100]

In [45]:
#2 Dada uma lista de nomes, retorne uma lista contendo o tamanho de cada nome.

nomes = ['josé', 'joaquim', 'Sebastião', 'Angélica', 'Leonardo', 'Luana', 'Bárbara']
novalista = list(map(lambda x : len(x), nomes))
novalista

[4, 7, 9, 8, 8, 5, 7]

In [46]:
# 3 cada uma lista de números, retorne uma lista contendo apenas os números pares.

numeros = [2,3,5,4,6,8,10]
listanova = list(filter(lambda x : x%2 == 0, numeros))
listanova

[2, 4, 6, 8, 10]

In [47]:
# 4 Dada uma lista de nomes, retorne uma lista contendo apenas os nomes que começam com a letra "A".

nomes = ['josé', 'joaquim', 'Sebastião', 'Angélica', 'Leonardo', 'Luana', 'Bárbara']
listanova = list(filter(lambda x: (x[0] == 'A'), nomes))
listanova

['Angélica']

In [48]:
#5 Recebe uma lista com notas de alunos, retorna apenas os aprovados (nota maior ou igual a 7)
numeros = [2,3,5,4,6,8,10]
listanova = list(filter(lambda x: x>=7, numeros))
listanova

[8, 10]

In [49]:
# 7 Recebe uma lista de nomes, retorna apenas os que começam com vogal
nomes = ['josé', 'joaquim', 'Sebastião', 'Angélica', 'Leonardo', 'Luana', 'Bárbara']
listanova = list(filter(lambda x:  x[0].upper() in 'AEIOU', nomes ))
listanova

['Angélica']